# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule DocuSign.Api.Notary do
  @moduledoc """
  API calls for all endpoints tagged `Notary`.
  """

  alias DocuSign.Connection
  import DocuSign.RequestBuilder


  @doc """
  Gets settings for a  notary user.
  Gets settings for a notary user. The current user must be a notary.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :include_jurisdictions (String.t): When **true,** the response will include a `jurisdiction` property that contains an array of all supported jurisdictions for the current user.
  ## Returns

  {:ok, DocuSign.Model.NotaryResult.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec notary_get_notary(Tesla.Env.client, keyword()) :: {:ok, DocuSign.Model.ErrorDetails.t} | {:ok, DocuSign.Model.NotaryResult.t} | {:error, Tesla.Env.t}
  def notary_get_notary(connection, opts \\ []) do
    optional_params = %{
      :include_jurisdictions => :query
    }
    %{}
    |> method(:get)
    |> url("/v2.1/current_user/notary")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %DocuSign.Model.NotaryResult{}},
      { 400, %DocuSign.Model.ErrorDetails{}}
    ])
  end

  @doc """
  Registers the current user as a notary.
  Registers the current user as a notary.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (Notary): 
  ## Returns

  {:ok, DocuSign.Model.Notary.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec notary_post_notary(Tesla.Env.client, keyword()) :: {:ok, DocuSign.Model.Notary.t} | {:ok, DocuSign.Model.ErrorDetails.t} | {:error, Tesla.Env.t}
  def notary_post_notary(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:post)
    |> url("/v2.1/current_user/notary")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 201, %DocuSign.Model.Notary{}},
      { 400, %DocuSign.Model.ErrorDetails{}}
    ])
  end

  @doc """
  Updates notary information for the current user.
  Updates notary information for the current user.

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :body (Notary): 
  ## Returns

  {:ok, DocuSign.Model.Notary.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec notary_put_notary(Tesla.Env.client, keyword()) :: {:ok, DocuSign.Model.Notary.t} | {:ok, DocuSign.Model.ErrorDetails.t} | {:error, Tesla.Env.t}
  def notary_put_notary(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }
    %{}
    |> method(:put)
    |> url("/v2.1/current_user/notary")
    |> add_optional_params(optional_params, opts)
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %DocuSign.Model.Notary{}},
      { 400, %DocuSign.Model.ErrorDetails{}}
    ])
  end
end
