# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule DocuSign.Api.NotaryJournals do
  @moduledoc """
  API calls for all endpoints tagged `NotaryJournals`.
  """

  alias DocuSign.Connection
  import DocuSign.RequestBuilder


  @doc """
  
  

  ## Parameters

  - connection (DocuSign.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :count (String.t): The maximum number of results to be returned by this request.
    - :search_text (String.t): 
    - :start_position (String.t): The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.

  ## Returns

  {:ok, %DocuSign.Model.NotaryJournalList{}} on success
  {:error, info} on failure
  """
  @spec notary_journals_get_notary_journals(Tesla.Env.client, keyword()) :: {:ok, DocuSign.Model.NotaryJournalList.t} | {:error, Tesla.Env.t}
  def notary_journals_get_notary_journals(connection, opts \\ []) do
    optional_params = %{
      :"count" => :query,
      :"search_text" => :query,
      :"start_position" => :query
    }
    %{}
    |> method(:get)
    |> url("/v2/current_user/notary/journals")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%DocuSign.Model.NotaryJournalList{})
  end
end
