# NOTE: This file is auto generated by OpenAPI Generator
# https://openapi-generator.tech
# Do not edit this file manually.

defmodule DocuSign.Api.NotaryJournals do
  @moduledoc """
  API calls for all endpoints tagged `NotaryJournals`.
  """

  import DocuSign.RequestBuilder

  alias DocuSign.Connection
  alias DocuSign.Model.ErrorDetails
  alias DocuSign.Model.NotaryJournalList

  @doc """
  Gets notary jurisdictions for a user.

  ### Parameters

  - `connection` (DocuSign.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:count` (String.t): The maximum number of results to return.
    - `:search_text` (String.t): Use this parameter to search for specific text.
    - `:start_position` (String.t): The position within the total result set from which to start returning values. The value **thumbnail** may be used to return the page image.

  ### Returns

  - `{:ok, DocuSign.Model.NotaryJournalList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec notary_journals_get_notary_journals(DocuSign.Connection.t(), keyword()) ::
          {:ok, NotaryJournalList.t()}
          | {:error, Tesla.Env.t()}
  def notary_journals_get_notary_journals(connection, opts \\ []) do
    optional_params = %{
      :count => :query,
      :search_text => :query,
      :start_position => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v2.1/current_user/notary/journals")
      |> add_optional_params(optional_params, opts)
      |> Enum.to_list()

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, NotaryJournalList},
      {400, ErrorDetails}
    ])
  end
end
