name: Recast CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: "25.0.4"
          elixir-version: "1.13.4"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-

      - name: Install Dependencies
        run: |
          mix deps.get

      - name: Cache build
        uses: actions/cache@v1
        with:
          path: _build
          key: ${{ runner.os }}-mix-build-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-build-

      - name: Compile app
        run: MIX_ENV=test mix compile --warnings-as-errors

      - name: Run Tests
        run: |
          set +e
          mix test --trace

      - name: Check formatting
        run: mix format --check-formatted
